/.vscode
/__pycache__
/__PYCACHE__
/**/__pycache__
/**/__PYCACHE__
/.venv

/.pytest_cache
/.ruff_cache
/.coverage
/htmlcov

/ckpts
/test.ipynb
/datasets
/outputs
*.rrd
/logs

/playwright-report
/test-results
