numpy
Pillow
huggingface_hub
einops
safetensors
viser
tqdm
hydra-core
omegaconf
opencv-python
scipy
onnxruntime
requests
trimesh
matplotlib
pydantic
pycolmap==3.10.0
pyceres
pyvista
scikit-image
scikit-learn
open3d
matplotlib
evo
git+https://github.com/jytime/LightGlue.git#egg=lightglue
